.page-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
}


.explanation {
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
}

.lorem-ipsum {
	padding: 15px;
	background-color: rgb(252,252,252);
	border-top: 1px solid rgb(102, 199, 22);
	border-left: 1px solid rgb(205,205,205);
	border-right: 1px solid rgb(205,205,205);
	border-bottom: 1px solid rgb(205,205,205);
	box-shadow: 5px 5px 5px rgb(235,235,235);
	border-radius: 5px;
}

@media screen and (min-width: 950px) {
	.lorem-ipsum {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
		column-gap: 15px;
 	 	-moz-column-gap: 15px;	
 	 	-webkit-column-gap: 15px;	
	 }
}

@media screen and (max-width:950px) {
    .lorem-ipsum {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
		column-gap: 15px;
 	 	-moz-column-gap: 15px;	
 	 	-webkit-column-gap: 15px;	
    }
}

@media screen and (max-width:680px) {
     .lorem-ipsum {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

.lorem-ipsum a {
	color: rgb(129, 207, 72);
	text-decoration: underline; 
}

.lorem-ipsum a:hover {
	color: rgb(66, 126, 4);
	text-decoration: none; 
}

.show-hide {
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(202, 204, 225);
	font-weight: bold;
}

.show-hide a {
	text-decoration: underline; 
	color: rgb(202, 204, 225);
	font-weight: normal;
}

.show-hide a:hover {
	text-decoration: none; 
}

.sort-icon {
	color: rgb(129, 207, 72);
	margin-left: 5px;
	cursor: pointer;
}

table#world-data {
	width: 100%;
	text-align: left;
}

table#world-data > thead > tr > th {
	font-size: 1.1em;
	padding-bottom: 15px;
	border-bottom: 3px solid rgb(204, 204, 204);
}

table#world-data > tbody > tr > td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(238, 238, 238); 
}

#drop-zone {
	border: 2px dashed #0087F7;
    background: #fff;
    width: 100%;
    height: 200px;
	text-align: center;
	cursor: pointer;
    border-radius: 5px;
}

#drop-zone .drop-zone-text {
	vertical-align: middle;
	font-size: 3em;
	cursor: pointer;
}


#file-upload {
	display: none;
}

@media screen and (min-width:680px) {
	#drop-zone .drop-zone-text {
		line-height: 200px;
	}
}

@media screen and (max-width:900px) {
    .col7{
        display: none;
    }
}


@media screen and (max-width:900px) {
    .col7{
        display: none;
    }
}


@media screen and (max-width:800px) {
    .col6{
        display: none;
    }
}


@media screen and (max-width:700px) {
    .col5{
        display: none;
    }
}


@media screen and (max-width:400px) {
    .col4{
        display: none;
    }
}


@media screen and (max-width:300px) {
    .col3{
        display: none;
    }
}


@media screen and (max-width:680px) {
	#drop-zone .drop-zone-text {
		line-height: normal;
	}
}
