@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 145%;
	font-style: normal;
}

header {
	width: 100%;
    height: 75px;
    top: 0;
    height: 75px;
    background: white;
    background: -webkit-linear-gradient(rgb(210, 210, 210), rgb(240, 240, 240));
    background: -o-linear-gradient( rgb(210, 210, 210), rgb(240, 240, 240));
    background: -moz-linear-gradient(rgb(210, 210, 210), rgb(240, 240, 240));
    background: linear-gradient(rgb(210, 210, 210),rgb(240, 240, 240));
    border-bottom: 1px solid rgb(210, 210, 210);
    border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
}

@media screen and (min-width: 681px) {
	header {
		position: fixed;
	}
}

main, article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}

ul.topnav {
    list-style-type: none;
    overflow: hidden;
    max-width: 1170px;
    height: 75px;
    background: white;
    background: -webkit-linear-gradient(rgb(210, 210, 210), rgb(240, 240, 240));
    background: -o-linear-gradient(	rgb(210, 210, 210), rgb(240, 240, 240));
    background: -moz-linear-gradient(rgb(210, 210, 210), rgb(240, 240, 240));
    background: linear-gradient(rgb(210, 210, 210),rgb(240, 240, 240));
    border-bottom: 1px solid rgb(210, 210, 210);
    margin: 0 auto;
    
}

ul.topnav li {
    
    float: left;
    border-right: 1px outset rgb(210, 210, 210);
    transition: 0.5s;
  
    
}

ul.topnav li:not(:first-child):hover {
    cursor: pointer;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(210, 210, 210)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(240, 240, 240), rgb(210, 210, 210)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(240, 240, 240), rgb(210, 210, 210)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(240, 240, 240), rgb(210, 210, 210)); /* Standard syntax (must be last) */
}


ul.topnav li i {
    padding: 33px 10px;
}

ul.topnav li a{
    color: #555;
}

#logo{
    position: relative;
    max-height: 80px;
    overflow:hidden;
    padding-right: 50px;
    cursor: pointer;
}
img{
    position: relative;
    bottom:5px;
}
img:hover{
    bottom:85px;
}
ul.topnav li.icon {
    display: none;
}

footer {
	padding-top: 15px;
	border-top: 1px solid rgb(102, 199, 22);
	margin-top: 50px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between
}

footer .copyright {
	
}

footer .created_by { 
	
}


@media screen and (max-width:680px) {
	
  ul.topnav li:not(:first-child) {
      display: none;
    }
  ul.topnav li:not(:last-child):not(:first-child):hover {
  	background:rgb(204,204,204)
  } 
  
  ul.topnav li:not(:last-child):not(:first-child) {
  	background:#fff
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
 
}

@media screen and (max-width:680px) {

  #page-container.responsive-container {
  	margin-top: 600px
  }
	
  ul.topnav.responsive {
       list-style-type: none;
       position: relative;
      height: auto;

    }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
   
  }
  #logo{
    position: relative;
    max-height: 80px;
    }
   
}

@media screen and (max-width:950px) {
    #toptext{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}

@media screen and (max-width:680px) {
     #toptext{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

